@charset "UTF-8";
/*GOOGLE FONTS*/
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;600&display=swap");
* {
  padding: 0;
  margin: 0;
  font-family: "Playfair Display", serif;
  /*INICIO HEADER*/
  /*FIN HEADER*/
  /*+++++++++INICIO INDEX+++++++*/
  /*INICIO SECCION ESPACIO*/
  /*FIN SECCION ESPACIO*/
  /*INICIO SECCION 2*/
  /*FIN SECCION 2*/
  /*INICIO SECCION 3*/
  /*FIN SECCION 3*/
  /*INICIO SECCION 4 MASAJE*/
  /*FIN SECCION 4 MASAJE*/
  /*INICIO SECCION 5 COMENTS*/
  /*FIN SECCION 5 COMENTS*/
  /*+++++++++FIN INDEX.HTML+++++++*/
  /*+++++++++FIN INDEX.HTML+++++++*/
  /*+++++++++ INICIO NOSOTROS.HTML+++++++*/
  /*+++++++++ INICIO NOSOTROS.HTML+++++++*/
  /*+++++++++FIN NOSOTROS+++++++*/
  /*+++++++++FIN NOSOTROS+++++++*/
  /*+++++++INICIO SERVICIOS+++++++++*/
  /*+++++++FIN SERVICIOS++++++++++*/
  /*++++++++++++++++++++++++INICIO IMAGENES+++++++++++++++++*/
  /*++++++++++++++++++++++++FIN IMAGENES+++++++++++++++++*/
  /*+++++++++++++++++INICIO CONTACTO+++++++++++++++*/
  /*++++++++++++++++++++FIN CONTACTO++++++++++++++++*/
  /*INICIO FOOTER*/
  /*FIN FOOTER*/
  /*++++++++++++++++++++++++++++++++++QUERIES celular+++++++++++++++++++++++++++++++++++++++*/
  /*+++++++++++++QUERIES+++++++++++++*/
}
* header {
  background-color: #323037;
}
* header img {
  height: 80px;
  width: 80px;
}
* header .navbar-light .navbar-nav .nav-link {
  color: #fc8d38;
}
* header .navbar-light .navbar-nav .nav-link:hover {
  color: wheat;
  transform: scale(1.2);
  transition: 0.5s;
}
* header .navbar-light .navbar-toggler {
  color: wheat;
  background-color: wheat;
}
* header .navbar-toggler-icon {
  color: wheat;
}
* .espacio {
  display: flex;
  height: 700px;
  width: 100%;
  background-color: #ceccca;
  position: relative;
}
* .espacio .caja1 {
  height: 70%;
  width: 37%;
  background-image: url(../img/bg2.jpg);
  background-color: aqua;
  background-size: cover;
  background-position: center;
  position: absolute;
  right: 50%;
  top: 40px;
  z-index: 2;
  /*animation: backInUp;
  animation-duration: 3s;*/
}
* .espacio .caja2 {
  height: 70%;
  width: 60%;
  background-color: #858588;
  position: absolute;
  right: 15%;
  top: 15%;
  z-index: 1;
  overflow: hidden;
}
* .espacio .caja2 h2 {
  color: wheat;
  text-transform: uppercase;
  width: 40%;
  font-size: 35px;
  font-family: "Playfair Display", serif;
  text-align: left;
  position: relative;
  left: 48%;
  top: 10%;
  text-shadow: 1px 1px #323037;
}
* .espacio .caja2 p {
  font-size: 20px;
  color: wheat;
  width: 40%;
  position: relative;
  text-align: left;
  transform: matrix(1, 0, 0, 1, 0, 0);
  left: 48%;
  top: 15%;
}
* .sec2 {
  height: 1000px;
  width: 100%;
  background-color: #5e5e64;
  display: flex;
  flex-direction: column;
}
* .sec2 h2 {
  font-family: "Playfair Display", serif;
  font-size: 35px;
  position: relative;
  width: 40%;
  left: 50%;
  top: 7%;
  text-transform: uppercase;
  color: wheat;
  text-shadow: 1px 1px #323037;
}
* .sec2 p {
  font-size: 20px;
  position: relative;
  width: 40%;
  left: 50%;
  top: 10%;
  color: wheat;
}
* .sec2 .imgSec2 {
  width: 100%;
  display: flex;
  position: relative;
  justify-content: center;
  top: 20%;
}
* .sec2 .img1 {
  padding: 0 10px;
}
* .sec3 {
  display: flex;
  height: 700px;
  width: 100%;
  background-color: #ceccca;
  position: relative;
}
* .sec3 .caja3 {
  height: 70%;
  width: 60%;
  background-image: url(../img/yoga-header22.JPG);
  background-color: aqua;
  background-size: cover;
  background-position: center;
  position: absolute;
  right: 30%;
  top: 40px;
  /*animation: backInUp;
  animation-duration: 3s;*/
}
* .sec3 .caja4 {
  height: 70%;
  width: 40%;
  background-color: aliceblue;
  position: absolute;
  right: 15%;
  top: 15%;
  z-index: 1;
  overflow: hidden;
}
* .sec3 .caja4 h2 {
  color: #fc8d38;
  text-transform: uppercase;
  width: 60%;
  font-size: 35px;
  font-family: "Playfair Display", serif;
  text-align: left;
  position: relative;
  left: 25%;
  top: 10%;
  text-shadow: 1px 1px #323037;
}
* .sec3 .caja4 p {
  font-size: 20px;
  color: #fc8d38;
  width: 60%;
  position: relative;
  text-align: left;
  transform: matrix(1, 0, 0, 1, 0, 0);
  left: 25%;
  top: 15%;
}
* .sec4 {
  height: 600px;
  background-image: url(../img/massage.jpg);
  background-size: cover;
  background-position: center;
  color: wheat;
  text-align: center;
  justify-content: center;
}
* .sec4 h2 {
  font-size: 35px;
  text-transform: uppercase;
  font-family: "Playfair Display", serif;
  position: relative;
  width: 30%;
  left: 60%;
  top: 15%;
  text-shadow: 1px 1px #323037;
}
* .sec4 p {
  font-size: 20px;
  position: relative;
  width: 30%;
  left: 60%;
  top: 20%;
}
* .sec5 {
  height: 500px;
  width: 100%;
  background-color: #ceccca;
  justify-content: center;
}
* .sec5 .coment1 {
  height: 300px;
  width: 100%;
  background-color: #5e5e64;
}
* .nosotros {
  padding-top: 15%;
  display: flex;
  height: 700px;
  width: 100%;
  background-image: url(../img/bg3.jpg);
  background-size: cover;
  background-position: center;
  text-align: center;
  justify-content: center;
  flex-direction: initial;
}
* .nosotros .secHistory {
  padding: 20px;
  display: flex;
  height: 40%;
  width: 40%;
  background-color: rgba(17, 1, 1, 0.5);
  justify-content: center;
  flex-direction: column;
  color: #fc8d38;
}
* .nosotros .secHistory h2 {
  text-transform: uppercase;
  padding-bottom: 10px;
  text-shadow: 1px 1px #323037;
}
* .historia {
  background-position: center;
  background-size: cover;
  height: 700px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #fc8d38;
}
* .imgHistoria {
  background-color: #5e5e64;
  background-image: url(../img/advantages-of-yoga1.jpg);
  background-position: center;
  background-size: cover;
  height: 60%;
  width: 60%;
}
* .historia2 {
  height: 700px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #fc8d38;
}
* .imgHistoria2 {
  background-image: url(../img/about.jpg);
  background-position: center;
  background-size: cover;
  height: 60%;
  width: 60%;
}
* .textHistoria {
  width: 80%;
}
* .secServ {
  height: 700px;
  width: 100%;
  background-image: url(../img/about22.jpg);
  background-position: center;
  background-size: cover;
}
* .textServ {
  width: 95%;
  padding-top: 10%;
  display: flex;
  flex-direction: center;
  text-align: center;
  color: #fc8d38;
}
* .titleServ {
  width: 100%;
  padding: 5%;
}
* .titleServ h2 {
  text-shadow: 1px 1px #323037;
}
* .titleServ p {
  font-size: 20px;
  text-shadow: 1px 1px #323037;
}
* .gallery-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 150px;
  grid-gap: 10px;
}
* .titleImg {
  font-size: 30px;
  color: #fc8d38;
  text-align: center;
}
* .gallery__item {
  position: relative;
}
* .gallery__img {
  width: 100%;
  height: 100%;
  /* object-fit: cover;*/
  background-image: center;
  /*background-position: cover;*/
}
* .gallery__title {
  position: absolute;
  bottom: 0;
  color: #fc8d38;
  background: linear-gradient(rgba(255, 255, 255, 0.1), black);
  width: 100%;
  margin: 0;
  text-align: center;
  padding: 10px;
}
* .gallery__item:nth-child(4) {
  grid-column-start: span 2;
}
* .gallery__item:nth-child(5) {
  grid-row-start: span 2;
}
* .gallery__item:nth-child(9) {
  grid-column-start: span 2;
}
* .imgVideo {
  height: 600px;
}
* .imgVideo h2 {
  font-size: 30px;
  color: #fc8d38;
  text-align: center;
  margin-top: 5%;
}
* .imgVideo iframe {
  width: 70%;
  height: 500px;
  margin-left: 15%;
}
* .donde h2 {
  width: 100%;
  text-align: center;
  color: #fc8d38;
  margin-top: 3%;
  margin-bottom: 2%;
  text-shadow: 1px 1px #323037;
}
* .donde iframe {
  width: 60%;
  margin-left: 20%;
  margin-bottom: 10%;
}
* form {
  padding-right: 0;
}
* .form-group {
  width: 80%;
  margin-left: 10%;
  margin-bottom: 10%;
  padding-right: 0;
}
* .imgCont {
  width: 70%;
}
* .secFooter {
  background-color: #5e5e64;
  height: 200px;
  width: 100%;
}
* .secFooter #contenedor6 {
  display: flex;
  justify-content: center;
  padding-top: 2%;
  padding-bottom: 2%;
}
* .secFooter img {
  padding-top: 1%;
}
* .secFooter ul {
  list-style: none;
  display: flex;
  width: 100%;
  padding-top: 1%;
}
* .secFooter ul li {
  padding: 1% 1% 0 1%;
}
* .secFooter ul li a {
  font-size: 14px;
  color: #323037;
  text-decoration: none;
}
* .secFooter ul li a:hover {
  color: wheat;
}
* .secFooter .diseño .contenidoPie {
  width: 100%;
  display: flex;
  justify-content: center;
}
* .secFooter .diseño .contenidoPie a {
  text-decoration: none;
  color: #fc8d38;
}
* .secFooter .diseño .contenidoPie a:hover {
  text-decoration: none;
  color: #ceccca;
}
@media screen and (max-width: 767px) {
  * {
    /*seccion quienes somos*/
    /*+++++FIN SECCION 2+++++*/
    /*+++++INICIO SECCION 3+++++*/
    /*+++++FIN SECCION 3+++++*/
    /*+++++INICIO SECCION MASAJES+++++*/
    /*+++++FIN SECCION MASAJES+++++*/
    /*++++++++++++++FIN+++++++++++++++*/
    /*++++++++++++++INDEX+++++++++++++++*/
    /*++++++++++++++++INICIO NOSOTROS+++++++++++*/
    /*+++++++++++++++FIN NOSOTROS+++++++++++++++*/
    /*+++++++++++++++INICIO SERVICIOS++++++++++++++*/
    /*++++++++++++++++FIN SERVICIOS++++++++++++++++*/
    /*++++++++++++++++INICIO IMAGENES+++++++++++++++++*/
    /*++++++++++++++++FIN IMAGENES++++++++++++++++++++*/
    /*+++++++++++++++++contacto+++++++++++++++*/
    /*+++++++++++++++++++fin contacto+++++++++++++++++++++*/
    /*+++++SECCION FOOTER+++++*/
    /*+++++FIN SECCION FOOTER+++++*/
  }
  * .espacio {
    height: 600px;
  }
  * .espacio .caja1 {
    width: 45%;
    height: 40%;
    left: 12%;
  }
  * .espacio .caja2 {
    width: 70%;
    height: 80%;
    right: 10%;
  }
  * .espacio .caja2 h2 {
    font-size: 22px;
    top: 20%;
    left: 55%;
  }
  * .espacio .caja2 p {
    width: 80%;
    font-size: 16px;
    top: 32%;
    left: 15%;
  }
  * .sec2 {
    height: 900px;
    align-content: center;
  }
  * .sec2 h2 {
    font-size: 22px;
    left: 35%;
    top: 4%;
  }
  * .sec2 p {
    font-size: 16px;
    width: 60%;
    left: 25%;
    top: 5%;
  }
  * .sec2 .imgSec2 {
    width: 90%;
    margin-left: 10%;
    padding: 0 10%;
    flex-direction: column;
    align-content: center;
    top: 5%;
  }
  * .sec2 .imgSec2 .img1 {
    width: 250px;
    height: 250px;
    background-size: cover;
    background-position: center;
    padding-bottom: 2%;
  }
  * .sec3 .caja3 {
    width: 70%;
    right: 20%;
    top: 45px;
  }
  * .sec3 .caja4 {
    height: 70%;
    width: 50%;
    right: 10%;
    top: 15%;
  }
  * .sec3 .caja4 h2 {
    font-size: 22px;
    top: 4%;
  }
  * .sec3 .caja4 p {
    font-size: 16px;
    top: 5%;
    width: 70%;
    left: 20%;
  }
  * .sec4 h2 {
    font-size: 30px;
    width: 30%;
    left: 30%;
    top: 25%;
    text-shadow: 1px 1px #323037;
  }
  * .sec4 p {
    font-size: 20px;
    position: relative;
    width: 70%;
    left: 15%;
    top: 30%;
  }
  * .nosotros {
    padding-top: 7%;
    height: 350px;
    text-align: center;
    justify-content: center;
  }
  * .nosotros .secHistory {
    padding: 10px;
    height: 80%;
    width: 70%;
  }
  * .secHistory h2 {
    font-size: 20px;
    text-transform: uppercase;
    padding-bottom: 10px;
  }
  * .secHistory p {
    font-size: 14px;
  }
  * .textServ {
    width: 95%;
    padding-top: 2%;
    padding-left: 5%;
    display: flex;
    flex-direction: center;
    text-align: center;
    color: #fc8d38;
  }
  * .titleServ {
    width: 95%;
    padding-bottom: 2px;
    background-color: rgba(17, 1, 1, 0.5);
    flex-direction: center;
    margin-bottom: 1%;
    margin-left: 5%;
  }
  * .titleServ h2 {
    font-size: 20px;
    color: wheat;
    /*text-shadow: 1px 1px rgb(235, 232, 232);*/
  }
  * .titleServ p {
    font-size: 14px;
    color: wheat;
    /* text-shadow: 1px 1px rgb(235, 232, 232);*/
  }
  * .titleImg {
    font-size: 20px;
    text-align: center;
    color: #323037;
  }
  * .gallery-container {
    grid-template-columns: repeat(2, 1fr);
  }
  * .gallery__title {
    font-size: 16px;
    color: white;
  }
  * .gallery__item:nth-child(2) {
    grid-row-start: span 2;
  }
  * .gallery__item:nth-child(7) {
    grid-row-start: span 2;
  }
  * .imgVideo {
    height: 400px;
  }
  * .imgVideo h2 {
    font-size: 20px;
    margin-top: 5%;
    text-align: center;
    color: #323037;
  }
  * .imgVideo iframe {
    width: 90%;
    height: 300px;
    margin-left: 5%;
  }
  * .donde h2 {
    width: 100%;
    font-size: 20px;
    text-align: center;
  }
  * .imgCont {
    width: 70%;
    margin-left: 30%;
    margin-bottom: 10%;
  }
  * .secFooter {
    height: 150px;
    display: block;
    flex-direction: column;
  }
  * .secFFooter #contenedor6 {
    justify-content: start;
  }
}

/*+++++QUERIES TABLETA+++++*/
/*+++++QUERIES TABLETA+++++*/
/*INICIO MAIN*/
.carousel-caption {
  transform: translateY(-50%);
  bottom: 0;
  top: 50%;
}
.carousel-caption h1 {
  font-family: "Playfair Display", serif;
  font-size: 43px;
  text-transform: uppercase;
  animation: bounceInRight;
  animation-duration: 3s;
}
.carousel-caption p {
  padding: 20px;
  font-size: 20px;
  animation: backInUp;
  animation-duration: 3s;
}
.carousel-caption .btn {
  color: wheat;
  border: none;
  animation: backInUp;
  animation-duration: 3s;
}
.carousel-caption .btn a {
  text-transform: uppercase;
  color: wheat;
  padding: 20px;
  border: 1px solid wheat;
}

/*FIN MAIN*/
/*@mediaqueries*/
@media screen and (max-width: 767px) {
  .navbar img {
    height: 60px;
    width: 60px;
  }

  .carousel-caption {
    top: 35%;
  }
  .carousel-caption h1 {
    font-size: 23px;
  }
  .carousel-caption p {
    padding: 7px;
    font-size: 14px;
  }
  .carousel-caption .btn {
    width: 80px;
    height: 15px;
  }
  .carousel-caption .btn a {
    padding: 7px;
    width: 90px;
    height: 15px;
    color: wheat;
    text-transform: uppercase;
    border: 1px solid wheat;
    border-radius: 5px;
    text-decoration: none;
  }

  .carousel-indicators li {
    width: 10px;
    height: 2px;
  }

  .carousel-control-prev .carousel-control-prev-icon {
    width: 15px;
    height: 15px;
  }

  .carousel-control-next .carousel-control-next-icon {
    width: 15px;
    height: 15px;
  }
}

/*# sourceMappingURL=estilos.css.map */
